div,
button,
textarea,
span,
input,
select,
table,
tr,
td,
th {
  box-sizing: border-box;
  font-family: Verdana;
  font-size: 11px;
  /* vertical-align:top; */
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0
}


div.sheet-header{
    height:30px;	
	background-color:grey;	
	font-weight:bold; 
	line-height:30px;
	font-size:13px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.sheet-text-center{	
	text-align:center;	
}

.sheet-text-left{	
	text-align:left;	
}

.sheet-text-right{	
	text-align:right;	
}

.sheet-rTable {   	
	display: table;   	
	width: 100%; 
	font-size:11px;
} 
.sheet-rTableRow,
.repitem {
  display: table-row;
}

.repcontainer {
    display: table-row-group;
}

.itemcontrol {
    height: auto !important;
}
.sheet-rTableHeadRow {   	
	display: table-header-group;   	
} 
.sheet-rTableHead {   	  	
	background-color: grey;   	
	font-weight: bold; 
} 
.sheet-rTableCell, .sheet-rTableHead {   	
	display: table-cell;   	
	padding: 3px 10px;   	
} 

.sheet-border-left{
	border-left:1px solid grey;
}

.sheet-border-right{
	border-right:1px solid grey;
}

.sheet-border-top{
	border-top:1px solid grey;
}

.sheet-border-bottom{
	border-bottom:1px solid grey;
}

.charsheet input, .charsheet select {
    border: none;
    box-shadow: none;
    max-height: 22px;
    padding: 0px;
    margin: 0px;
}

.sheet-boxinput {
  background-color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  border: 1px dotted darkgrey;
  white-space: nowrap;
}

input.sheet-box {
    border: 1px dotted darkgrey;
	width: 120px;
}

table{
	border-collapse:collapse;
	width:100%;
}

tr.sheet-border-left{
	border-left:1px solid grey;
}

tr.sheet-border-right{
	border-right:1px solid grey;
}

tr.sheet-border-top{
	border-top:1px solid grey;
}

tr.sheet-border-bottom{
	border-bottom:1px solid grey;
}

div.sheet-main{
  border:1px solid grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:5px;
}

div.sheet-divbox{
	border:1px solid grey;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

.sheet-divbox-skill div,
.sheet-divbox-melee div,
.sheet-divbox-ranged div {
    font-size: 10px;
}
.sheet-divbox-skill .sheet-rTableCell,
.sheet-divbox-melee .sheet-rTableCell,
.sheet-divbox-ranged .sheet-rTableCell {
    padding: 3px 3px;
}


div.sheet-title{
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

div.sheet-block-80{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

img.sheet-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th.sheet-header{
	height:30px;	
	background-color:grey;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

th.sheet-header-right{
	height:30px;	
	background-color:grey;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
}

th.sheet-header-left{
	height:30px;	
	background-color:grey;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
}

td.sheet-cell-center{
  text-align:center;
}

td.sheet-cell-padding-5{
  padding:5px;
}

th.sheet-cell-left,
td.sheet-cell-left{
	text-align:left;
}

th.sheet-cell-center,
td.sheet-cell-center{
	text-align:center;
}

th.sheet-cell-right,
td.sheet-cell-right{
	text-align:right;
}

th.sheet-cell-border,
td.sheet-cell-border{
	border:1px solid black;
}

th.sheet-cell-bold,
td.sheet-cell-bold{
	font-weight:bold;
}

td.sheet-border-bottom{
	border-bottom:1px solid grey;
}

td.sheet-border-top{
	border-top:1px solid grey;
}

td.sheet-border-left{
	border-left:1px solid grey;
}

td.sheet-border-right{
	border-right:1px solid grey;
}

.sheet-grayback, input[disabled]{
	background-color: lightgray;
}


select.sheet-short,
input.sheet-short {
	width: 60px;
}

span.sheet-short{
	width: 3.5em;
	display:inline-block;
	border-radius:5px 5px 5px 5px;
	background-color: lightgray;
	cursor:not-allowed;
	text-align: left;
    padding-left: 5px;
}

select.sheet-medium,
input.sheet-medium {
	width: 80px;
}

span.sheet-medium{
	width: 5.5em;
	display:inline-block;
	border-radius:5px 5px 5px 5px;
	background-color: lightgray;
	cursor:not-allowed;
	text-align: left;
    padding-left: 5px;
}

select.sheet-large,
input.sheet-large {
	width: 100px;
}

select.sheet-superlarge,
input.sheet-superlarge {
	width: 150px;
}

select.sheet-extralarge,
input.sheet-extralarge {
	width: 210px;
}


select.sheet-box-full,
input.sheet-box-full {
	width: 100%;
}




/* ROLL TEMPLATES */
.sheet-rolltemplate-hm_melee_weapons,
.sheet-rolltemplate-hm_skill {
  box-sizing: border-box;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-table,
.sheet-rolltemplate-hm_skill .sheet-roll-table {
  width: 100%;
  display: table;
  font-family: cursive;
  border: 2px solid grey;
  border-spacing: 0;
  border-collapse: separate;
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  line-height: 25px;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-table .sheet-rounded,
.sheet-rolltemplate-hm_skill .sheet-roll-table .sheet-rounded {
  border-radius: 5px;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-header,
.sheet-rolltemplate-hm_skill .sheet-roll-header {
  display: table-row-group;
  width: 100%;
  overflow: hidden;
  caption-side: top;
  width: 100%;
  background-color: grey;
  font-weight: bold;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-header a ,
.sheet-rolltemplate-hm_skill .sheet-roll-header a {
	text-decoration: underline;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-row,
.sheet-rolltemplate-hm_skill .sheet-roll-row {
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-row:nth-child(even),
.sheet-rolltemplate-hm_skill .sheet-roll-row:nth-child(even){
  background-color: #B7B7B7;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-cell,
.sheet-rolltemplate-hm_skill .sheet-roll-cell {
  padding: 1px 1px 1px 5px;
  text-align: left;
  width: 100%;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell,
.sheet-rolltemplate-hm_skill .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell {
  font-size: .9em;
  width: 24%;
  float: right;
  text-align: right;
  display: inline;
  padding: 1px 1px 1px 5px;
  vertical-align: bottom;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell:first-child,
.sheet-rolltemplate-hm_skill .sheet-roll-group2 .sheet-roll-row .sheet-roll-cell:first-child {
  width: 69%;
  float: left;
  text-align: left;
  padding: 3px 2px 1px 4px;
}


.sheet-rolltemplate-hm_melee_weapons .inlinerollresult,
.sheet-rolltemplate-hm_skill .inlinerollresult {  
    background-color: lightgrey;
    border: 2px solid grey;
}


.sheet-rolltemplate-hm_melee_weapons .inlinerollresult.fullcrit,
.sheet-rolltemplate-hm_skill .inlinerollresult.fullcrit {
  color: #FFF;
  background-color: #3FB315;
}

.sheet-rolltemplate-hm_melee_weapons .inlinerollresult.fullfail,
.sheet-rolltemplate-hm_skill .inlinerollresult.fullfail {
  color: #FFF;
  background-color: #B31515;
}

.sheet-rolltemplate-hm_melee_weapons .inlinerollresult.importantroll,
.sheet-rolltemplate-hm_skill .inlinerollresult.importantroll {
  color: #FFF;
  background-color: #4A57ED;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-text-white,
.sheet-rolltemplate-hm_skill .sheet-roll-text-white {
  color:white;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-text-12px,
.sheet-rolltemplate-hm_skill .sheet-roll-text-12px {  
    font-size: 12px;
}

.sheet-rolltemplate-hm_melee_weapons .sheet-roll-text-right,
.sheet-rolltemplate-hm_skill .sheet-roll-text-right {
  text-align:right;
}