.sheet-main-container {
    background-image:url("http://i48.servimg.com/u/f48/13/08/73/86/parcho12.jpg");
}

.sheet-table-carac {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.sheet-table-carac-head{
	border-top: 1px solid saddlebrown;
    border-right: 1px solid saddlebrown;
    border-left: 1px solid saddlebrown;
    background: saddlebrown;
}

.sheet-table-carac-head h4{	
    color: white;
}

.sheet-table-carac-label{	
    color: brown;
}
.sheet-table-carac-left{
    border-left: 1px solid saddlebrown;
    padding-left:2px;
}
.sheet-table-carac-right{
    border-right: 1px solid saddlebrown;
    padding-right:2px;
}
.sheet-table-carac-bottom{
    border-bottom: 1px solid saddlebrown;
    padding-bottom:2px;
}

input[type="text"], input[type="number"] {
    background-color: transparent;
    border: 0 solid saddlebrown;
	border-bottom-width: 1px;
    margin-top: 1px;
}

input[type="text"], select {
	width: 100%;
    margin: 1px 0 0 0;
}

input[type="text"] {
	min-width:3em;
}

.sheet-small-label2 > input[type=number]{
	width: 98%;
	max-width: 100%;
}

/* turn off spinners for firefox width:3.25em; */
input[type="number"] {
	-moz-appearance: textfield !important;
	-moz-padding-end: .5em;
	padding-inline-end: .5em; /* moz changes to this */
}
/* set width for number input and surrounding labels */
input[type="number"], .sheet-number {
	min-width:2.5em;
	max-width:4.5em;
	width:auto;
}
/* set right align for numbers */
input[type="number"], span.sheet-number, input.sheet-number {
	text-align:right;
}


/* CHROME: hide spinner area at right when readonly or when not hovering over a number */
input[readonly]::-webkit-inner-spin-button ,
input.sheet-calc::-webkit-inner-spin-button ,
input.disabled::-webkit-inner-spin-button,
input[type="number"]:not(:hover)::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin-right:0px;
    padding-right:.25em;
}

/* FIREFOX: hide spinner for all disabled/sheet-calc */
input.sheet-calc[type="number"]:hover,
input.sheet-calc[type="number"]:focus,
input[type="number"].sheet-calc,
input[type="number"]:disabled {
	-webkit-appearance: none;
	-moz-appearance: textfield !important;
	-moz-padding-end:.5em !important;
	padding-inline-end: .5em;
}


.sheet-pictos {
	font-family: "Pictos" !important;
}

.sheet-table-cell span[title],  .sheet-table-header[title], .sheet-small-label2 span[title] {
	cursor: help;
}

.sheet-cell-label-lg{
	display:table-cell;
	padding: 0em 0em 0em 0em;
	/* no margin for table cell */
    text-align:center;
	font-size: 1em;
	font-weight: bold;
	color: brown;	
	height:2em;
	vertical-align:bottom;
	width:10%; /*default */
}
.sheet-cell-label-lg span {
    width: 95%;
    float: right;
}
.sheet-cell-label-lg input, .sheet-cell-label-lg select, .sheet-cell-label-lg .sheet-calc{
	box-sizing:border-box;
	margin:0px 1px 0px 0px;
	display: inline-block;
	width:95%;
	position: relative;
    top: -3.5em;
    text-align:left;
	color:#111111;
	padding:.25em 2px .25em 2px;
	vertical-align:top;
}

.sheet-table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	padding-left:.125em;
	padding-right:.125em;
	padding-bottom:.125em;
}

/********************************************* TABS ****************************************************/
.sheet-tabs label.sheet-tab {
	text-align: center;
	display: inline-block;
	background: saddlebrown;
	color: #FFF;
	font-weight: bold;
	height: 1.4em;
	cursor: pointer;
	position: relative;
	vertical-align:top;
	font-size: 1.1em;
	padding:.28em .14em 0em .14em;
	margin-right:2px;
	margin-bottom:0px;
	vertical-align:top;
	border-radius: 7px 7px 0 0;
	/* firefox has to squeeze*/
	-moz-margin-end:-2px;
}

.sheet-tabs label.sheet-tab input.sheet-tab {
	cursor: pointer;
	opacity: 0;
	z-index: 9999;
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

/* make checked tab different color */
input.sheet-tab1:checked  ~ .sheet-tabs .sheet-tab1,
input.sheet-tab2:checked  ~ .sheet-tabs .sheet-tab2,
input.sheet-tab3:checked  ~ .sheet-tabs .sheet-tab3,
input.sheet-tab4:checked  ~ .sheet-tabs .sheet-tab4,
input.sheet-tab5:checked  ~ .sheet-tabs .sheet-tab5,
input.sheet-tab6:checked  ~ .sheet-tabs .sheet-tab6,
input.sheet-tab7:checked  ~ .sheet-tabs .sheet-tab7{
	background: #000;
	color: #FFF;
}

/* fancy transition for pages */
input.sheet-pagetab1:checked ~ .sheet-main div.sheet-section-character.sheet-section,
input.sheet-pagetab2:checked ~ .sheet-main div.sheet-section-abilities.sheet-section,
input.sheet-pagetab3:checked ~ .sheet-main div.sheet-section-skills.sheet-section,
input.sheet-pagetab4:checked ~ .sheet-main div.sheet-section-weapons-equipments.sheet-section,
input.sheet-pagetab5:checked ~ .sheet-main div.sheet-section-spells-magic.sheet-section,
input.sheet-pagetab6:checked ~ .sheet-main div.sheet-section-notes.sheet-section,
input.sheet-pagetab7:checked ~ .sheet-main div.sheet-section-config.sheet-section   {
	display:block;
	max-height: 999999px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear 0s;
	overflow: hidden;
    border: 1px solid saddlebrown;
    padding: 3px;
}


.sheet-sect.sheet-expand .sheet-macro-text,
.sheet-sect.sheet-expand .sheet-macro-text .sheet-small-label2 {
	height:auto;
}


.sheet-expand-show:checked ~ div .sheet-sect-show:checked ~.sheet-expand ,
.sheet-expand-show:checked ~ div .sheet-expand 
.sheet-expand-show:checked ~ .sheet-expand { 
	display:none;
}

.sheet-sect-show:not(:checked)~.sheet-sect,
.sheet-sect-show-inverse:checked~.sheet-sect-inverse{
	display:none !important;	
}

.sheet-section-character,
.sheet-section-abilities,
.sheet-section-skills,
.sheet-section-weapons-equipments,
.sheet-section-spells-magic,
.sheet-section-notes,
.sheet-section-config  {
    display:none;
}


/*================================================================================*/

.sheet-nontable {
	text-align:justify;
	border-collapse:collapse;
}

.sheet-table-name , .sheet-nontable-name {
	text-align: center;
	font-weight: bold;
	color:White;
	background-color:saddlebrown;
	width: 100%;
}


.sheet-nontable-name {
	display: block;
}
.sheet-spellclassnav ~ h2.sheet-nontable-name {
	margin-top:0;
}

.sheet-nontable-name {
	text-align: center;
	font-weight: bold;
	color: #FFF;	
	background: saddlebrown;
	width: 100%;
	display: block;
	margin-bottom:1rem;
  line-height:20px;
}


.sheet-small-label2 > input[type=number]{
	width: 98%;
	max-width: 100%;
}
.sheet-table-cell span[title],  .sheet-table-header[title], .sheet-small-label2 span[title] {
	cursor: help;
}

.sheet-small-label2 {
    display: inline-block;
	margin: .3em .2em .3em .25em;
	height:3em;
	min-height:3em;
	vertical-align: top;
    text-align:center;
	position:relative;
}


.sheet-small-label2 span {
	padding: 0em .07em 0em .07em;
    text-align:center;
	font-size: .85em;
	font-style: italic;
	font-weight: bold;
	color:brown;
	position:relative;
	bottom:0px;
}

.sheet-small-label2 > * {
	max-width:100%;
}

.sheet-small-label2 > input, .sheet-small-label2 > select, .sheet-small-label2 > .sheet-calc {
	display:block;
	padding:.25em 2px .25em 2px;
	vertical-align:top;
	height:1.825em; /* otherwise defaults from base.css hardcode it too tall */
	position:relative;
}
.sheet-small-label2  input::-moz-focus-inner {
	padding:0px;
}

/* chrome displays checkbox height incorrectly and all the way to the left because  1.825em throws it off */
.sheet-small-label2 > input[type="checkbox"], .sheet-small-label2 > input[type="radio"] {
	-webkit-logical-height:initial;
	-webkit-margin-before:.8em;
	width:100%;
}
.sheet-table-name + .sheet-table-group .sheet-small-label2 {
	margin-top:1.25em;
}

.sheet-number,
.sheet-small-label2.sheet-number {
	width:3.5em;
}


.sheet-footer {
	text-align: center; 
	font-size: xx-small; 
	background-color: #FFF8DC;	
	border: 1px #000 solid;
	border-radius: 3px;
}
